/*
================
Newsletter 
================ 
*/
.newsletter-content {
  margin: 10px;
  text-align: center;
}
.newsletter-header {
  font-weight: bold;
}
.newsletter-form {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}
.form-input {
  margin: 10px 10px;
  height: 4rem;
  padding: 0.25rem 0.5rem;
  width: 60%;
  border: 1px solid rgb(152, 102, 8);
  outline: none;
  border-radius: 0.6rem;
}
.form-input:hover {
  outline: auto;
}
.form-input[placeholder] {
  font-size: 1.2rem;
  font-family: "Courier New", Courier, monospace;
}
.form-btn {
  border-radius: 0.25rem;
  border-color: transparent;
  padding: 0.25rem 0.5rem;
  display: block;
  height: 3rem;
  width: 15%;
  text-transform: capitalize;
  font-weight: 700;
  letter-spacing: 0.1rem;
  font-size: 1rem;
  background: rgb(254, 192, 77);
  color: black;
  transition: all 0.3s linear;
  cursor: pointer;
}
.form-btn:hover {
  background: orange;
}
