:root {
  --transition: all 0.3s linear;
}

a {
  text-decoration: none !important;
  color: inherit !important;
}
ul {
  list-style-type: none;
}
.nav-links {
  display: none;
}
.nav {
  position: sticky;
  width: 100%;
  top: 0;
  left: 0;
  background: white;
  /* height: 5rem; */
  display: grid !important;
  -webkit-box-align: center;
  align-items: center;
  -webkit-transition: var(--transition);
  transition: var(--transition);
  padding: 1rem 1.5rem !important;
  z-index: 2;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}
.nav-center {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
}
.nav-header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  -webkit-box-align: center;
  align-items: center;
}
.logo-black {
  font-weight: bolder;
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: 2px;
  color: black;
}
.logo-navy {
  color: rgb(255, 140, 0);
  font-weight: bolder;
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: 2px;
}
.nav-btn {
  background: transparent;
  border-color: transparent;
  font-size: 2rem;
  cursor: pointer;
  color: black;
  /* show later */
  justify-self: right;
}
@media screen and (min-width: 820px) {
  .nav-btn {
    display: none;
  }
  .nav-links {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-items: center;
    -webkit-column-gap: 1rem;
    -moz-column-gap: 1rem;
    column-gap: 1rem;
  }
  .nav-links a {
    text-transform: capitalize;
    color: black;
    font-weight: bold;
    letter-spacing: 0.25rem;
    -webkit-transition: var(--transition);
    transition: var(--transition);
  }
  .nav-links a:hover {
    color: orange !important;
    transition: var(--transition) !important;
  }
  .nav-center {
    display: grid;
    grid-template-columns: auto 1fr;
    -webkit-box-align: center;
    align-items: center;
  }

  .nav-links {
    justify-self: end;
  }
}
.navbar-fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

/*
=============== 
Sidebar
===============
*/
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: hsl(210, 36%, 96%);
  z-index: 4;
  display: grid;
  place-items: center;
  -webkit-transition: var(--transition);
  transition: var(--transition);
  /* add later */
  -webkit-transform: translate(-100%);
  transform: translate(-100%);
}
.show-sidebar {
  -webkit-transform: translate(0);
  transform: translate(0);
}
.sidebar-links {
  text-align: center;
}
/* add sidebar links to navbar links */
.sidebar-links a {
  font-size: 2rem;
  text-transform: capitalize;
  -webkit-transition: var(--transition);
  transition: var(--transition);
  letter-spacing: var(--spacing);
  display: inline-block;
  margin-bottom: 1.5rem;
}
.sidebar-links a:hover {
  color: orange !important;
}
.social-icons {
  display: grid;
  margin-top: 3rem;
  width: 20rem;
  grid-template-columns: repeat(5, 1fr);
  justify-items: center;
}
.social-icon {
  font-size: 1.5rem;
  color: orange;
  -webkit-transition: var(--transition);
  transition: var(--transition);
}
.social-icon:hover {
  color: rgb(244, 208, 142);
}
.close-btn {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 3rem;
  background: transparent;
  border: none;
  -webkit-transition: var(--transition);
  transition: var(--transition);
  color: orange;
  cursor: pointer;
}
.close-btn:hover {
  color: #e66b6b;
}
