.footer {
  padding-bottom: 2rem;
  background: rgba(255, 166, 0, 0.585);
  display: grid;
  place-items: center;
}
.footer .social-icons {
  margin-bottom: 2rem;
}
.footer .social-icon {
  color: white;
}
.footer p {
  font-size: 1.25rem;
}
