.footer {
  padding-bottom: 2rem;
  background: rgb(255, 166, 0);
  display: grid;
  place-items: center;
}
.footer .social-icons {
  margin-bottom: 2rem;
}
.footer .social-icon {
  color: white;
}
.footer p {
  font-size: 1.25rem;
}
