.root {
  --spacing: 0.25rem;
  --transition: all 0.3s linear;
  --clr-white: #fff;
  --max-width: 1170px;
  --radius: 1rem;
}
.section-center {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
}
@media screen and (min-width: 992px) {
  .section-center {
    width: 95vw;
  }
}
.btn {
  text-transform: uppercase;
  background: orange !important;
  padding: 0.375rem 0.75rem;
  letter-spacing: var(--spacing);
  display: inline-block;
  font-weight: 700 !important;
  -webkit-transition: var(--transition) !important;
  transition: var(--transition) !important;
  font-size: 0.875rem !important;
  border: 2px solid transparent !important;
  cursor: pointer !important;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: var(--radius) !important;
}
.btn:hover {
  background: rgba(255, 166, 0, 0.496) !important;
}
.underline {
  width: 5rem;
  height: 0.25rem;
  margin-bottom: 1.25rem;
  background: orange;
  margin-left: auto;
  margin-right: auto;
}
/*
=============== 
Hero
===============
*/
/* underline in globals */
.hero {
  background: rgba(255, 166, 0, 0.045);
}
.hero-container {
  position: absolute;
  opacity: 0.6;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  z-index: -2;
  background-image: url("./assets/Particle-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.hero .underline {
  margin-bottom: 0.5rem;
  margin-left: 0;
}

.hero-center {
  min-height: calc(55vh - 5rem);
  display: grid;
  -webkit-box-align: center;
  align-items: center;
  justify-items: center;
  position: relative;
}
.hero-btn {
  margin-top: 1.25rem;
}

/*
=============== 
About
===============
*/

/* section title in globals */
.about-title {
  text-align: center;
}
.about-title .underline {
  margin-left: auto;
  margin-bottom: 10px;
}
.about-center {
  margin-top: 15px;
  padding: 10px 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 0.5rem 2rem;
  margin-bottom: 10px;
}
.about-info {
  align-self: center;
  padding: 10px;
  border-radius: 20px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 0px 10px 0px;
}
.about-info .card {
  height: 17rem;
}
.about-info p {
  text-align: center;
}
@media screen and (min-width: 992px) {
  .about-center {
    grid-template-columns: 1fr 1fr;
  }
  .about-info {
    align-self: center;
  }
}
.blog {
  padding: 20px 0;
  background: rgba(255, 166, 0, 0.045);
}
.blog-center {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  -webkit-column-gap: 2rem;
  -moz-column-gap: 2rem;
  column-gap: 2rem;
}
@media screen and (max-width: 740px) {
  .blog-center {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem 2rem;
  }
}
.blog-title {
  text-align: center;
}
.blog-title p {
  font-weight: lighter;
}
.card {
  background-color: rgba(255, 166, 0, 0.271) !important;
  -webkit-perspective: 1500px;
  perspective: 1500px;
  height: 14rem;
  border-radius: 10px !important;
  padding: 10px;
  margin: 10px 0;
}
.card-front {
  text-align: center;
  line-height: 1.5rem;
}
.connect {
  min-height: 40vh;
  position: relative;
  padding: 10rem 0 5rem 0;
  margin: 5rem 0;
}
.image-container {
  position: absolute;
  background-image: url("./assets/Particle-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  opacity: 0.7;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  z-index: -2;
}
.connect {
  display: grid;
  place-items: center;
}
.image-banner .section-title {
  margin-bottom: 2rem;
}
.image-text {
  max-width: 30rem;
}
.image-banner {
  font-size: 1.5rem;
  font-weight: bold;
  padding: 0 1rem;
  text-align: center;
}

/* add clip path */
.connect {
  -webkit-clip-path: polygon(
    50% 0%,
    100% 10%,
    100% 90%,
    50% 100%,
    0 90%,
    0 10%
  );
  clip-path: polygon(50% 0%, 100% 10%, 100% 90%, 50% 100%, 0 90%, 0 10%);
}

/*
================
Newsletter 
================ 
*/
.newsletter-content {
  margin: 10px;
  text-align: center;
}
.newsletter-header {
  font-weight: bold;
}
.newsletter-form {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}
.form-input {
  margin: 10px 10px;
  height: 4rem;
  padding: 0.25rem 0.5rem;
  width: 60%;
  border: 1px solid rgb(152, 102, 8);
  outline: none;
  border-radius: 0.6rem;
}
.form-input:hover {
  outline: auto;
}
.form-input[placeholder] {
  font-size: 1.2rem;
  font-family: "Courier New", Courier, monospace;
}
.form-btn {
  border-radius: 0.25rem;
  border-color: transparent;
  padding: 0.25rem 0.5rem;
  display: block;
  height: 3rem;
  /* width: 40%; */
  text-transform: capitalize;
  font-weight: 700;
  letter-spacing: 0.1rem;
  font-size: 1rem;
  background: #ffb100;
  color: black;
  transition: all 0.3s linear;
  cursor: pointer;
}
/*
=============== 
Single Page
===============
*/
.single-page {
  position: relative;
  padding-top: 7rem;
  background: rgba(255, 166, 0, 0.045);
  min-height: calc(100vh - 5rem - 198px);
}
.about-bg {
  position: absolute;
  opacity: 0.6;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  z-index: -2;
  background-image: url("./assets/Particle-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.single-page .section-title {
  text-align: center;
}
.page-info {
  font-size: 1.5rem;
  line-height: 2.4rem;
  max-width: 700px;
  /* background: var(--clr-pink-5); */
}
.page-info p {
  color: black;
}
.team {
  margin-bottom: 20px;
}
.team-center {
  text-align: center;
  display: flex;
  justify-content: center;
}
.team_card {
  -webkit-perspective: 1500px;
  perspective: 1500px;
  height: 32rem;
  width: 360px;
  position: relative;
  border: 1px solid transparent;
  border-radius: 30px;
}
.team_card-side {
  -webkit-transition: all 2s linear;
  transition: all 2s linear;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: translate3d(0, 0, 0);
  visibility: visible;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: var(--radius);
}
.team_card-front {
  background-color: rgba(255, 166, 0, 0.271) !important;
  border: 1px solid transparent;
  border-radius: 30px;
}
.team_card-front img {
  width: 100%;
  height: 25rem;
  /* -o-object-fit: cover;
  object-fit: cover; */
  border: 1px solid transparent;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}
.team_card-info {
  display: flex;
  flex-direction: column;
  padding: 1rem 1.5rem;
}
