.root {
  --spacing: 0.25rem;
  --transition: all 0.3s linear;
  --clr-white: #fff;
  --max-width: 1170px;
  --radius: 1rem;
}
.section-center {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
}
@media screen and (min-width: 992px) {
  .section-center {
    width: 95vw;
  }
}
.btn {
  text-transform: uppercase;
  background: orange !important;
  padding: 0.375rem 0.75rem;
  letter-spacing: var(--spacing);
  display: inline-block;
  font-weight: 700 !important;
  -webkit-transition: var(--transition) !important;
  transition: var(--transition) !important;
  font-size: 0.875rem !important;
  border: 2px solid transparent !important;
  cursor: pointer !important;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: var(--radius) !important;
}
.btn:hover {
  background: rgba(255, 166, 0, 0.496) !important;
}
.underline {
  width: 5rem;
  height: 0.25rem;
  margin-bottom: 1.25rem;
  background: orange;
  margin-left: auto;
  margin-right: auto;
}
/*
=============== 
Hero
===============
*/
/* underline in globals */
.hero-info h1 {
  font-size: 3rem;
  color: hsl(211, 39%, 23%);
  font-weight: bolder;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: 0.15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto;
  letter-spacing: 0.15em; /* Adjust as needed */
  animation: typing 3.5s steps(30, end), blink-caret 0.5s step-end infinite;
}
/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: orange;
  }
}
.hero .underline {
  margin-bottom: 0.5rem;
  margin-left: 0;
}

.hero-center {
  /* min-height: calc(100vh - 5rem); */
  min-height: 100vh;
  display: grid;
  -webkit-box-align: center;
  align-items: center;
  justify-items: center;
}
.hero-btn {
  margin-top: 1.25rem;
}

/*
=============== 
About
===============
*/

/* section title in globals */
.about-title {
  text-align: center;
}
.about-title .underline {
  margin-left: auto;
}
.about-title {
  margin-bottom: 2rem;
}
.about-center {
  display: grid;
  gap: 3rem 2rem;
}
.about-img {
  justify-self: center;
}
.about-info {
  align-self: center;
}
.about-info p {
  text-align: center;
}
@media screen and (min-width: 992px) {
  .about-center {
    grid-template-columns: 1fr 1fr;
  }
  .about-info {
    align-self: center;
  }
}
